<!DOCTYPE html>
<html>
  <head>
    <title>Gillian Wenhold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="navbar">
      <div class="row">
        <div class="col-1">
          <a class="navbar-head" href="/"/>Gillian Wenhold</a>
          <div class="navbar-text-small">PORTFOLIO</div>
        </div>
        <div class="col-2">
          <a class="navbar-text" style="float:right;" href="mailto:gwenhold@mac.com"/>Contact</a>
          <a class="navbar-text" style="float:right;" href="/projects"/>Projects</a>
        </div>
      </div>
    </div>
    <%= yield %>
  <div class="footer">
    <div class="footer-text">CREATED BY GILLIAN WENHOLD</div>
  </div>
  </body>
</html>
